<h1> Please edit employees information below. </h1>

<%= form_with model: @employee do |form| %>
<%= form.text_field :first_name, placeholder: 'First Name' %>
<%= form.text_field :alias, placeholder: 'Alias (optional)' %>
<%= form.text_field :title, placeholder: 'Job Title' %>
<%= form.text_field :office, placeholder: 'Office Location' %>
<%= form.submit %>
<% end %>