<%= link_to 'All Dogs', '/dogs' %> <br>
<%= link_to 'All Employees', '/employees' %> <br>

<h2>
Create a New Employee:
</h2>

<%= form_with model: @employee do |emp| %>
    <p>
        First Name: <%= emp.text_field :first_name %>
    </p>

    <p>
        Last Name: <%= emp.text_field :last_name %>
    </p>

    <p>
        Alias: <%= emp.text_field :alias %>
    </p>

        <p>
        Title: <%= emp.text_field :title %>
    </p>

    <p>
        Office: <%= emp.text_field :office %>
    </p>

    <p>
        Belongs To: <%= emp.collection_select :dog_id, Dog.all, :id, :name %>
    </p>

    <p>
        <%= emp.submit %>
    </p>

<% end %>
