<h1> New Employees </h1>

<%= form_with model: @employee do |f| %>
<%= f.text_field :first_name, placeholder: " FIRST NAME" %>
<%= f.text_field :last_name, placeholder: "LAST NAME" %>
<%= f.text_field :alias, placeholder: "ALIAS" %>
<%= f.text_field :title, placeholder: "TITLE" %>
<%= f.text_field :office, placeholder: "OFFICE" %>
<%= f.text_field :img_url, placeholder: "IMAGE URL" %>
<%= f.number_field :dog_id, placeholder: "DOG_ID" %>
<%= f.submit %>
<% end %>