<h1><h1>Look at this cute lil employee</h1>

<h3><%= @employee.first_name%> <%= @employee.last_name%></h3>
<p>Known Alias: <%= @employee.alias%><p>
<p>Position: <%= @employee.title%><p>
<p>Location: <%= @employee.office%><p>

<%= button_to "Edit Employee", edit_employee_url, :method => :get %>
<%= button_to "Kill Employee", @employee, :method => :delete %>
