<p><%= @employee.name %></p>
<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>
<img src="<%= @employee.img_url %>" alt="Employee Image">
<p><%= @employee.dog.name %></p>
