<%= link_to "Home", employees_path %>

<h1> Hi! My name is <%= @employee.first_name %>.</h1>

<h2> Sometimes my co-workers call me <%= @employee.alias %>.</h2>

<h2> My job title at Dunder Mifflin is <%= @employee.title %>.</h2>

<h2> I work at the <%= @employee.office %> office branch of Dunder Mifflin.</h2>

