<h1>Dog Form</h1>

<%= form_with model: @dog do |f| %>
  <%= f.text_field :name, placeholder: 'Name' %>
  <%= f.text_field :age, placeholder: 'Age'  %>
  <%= f.text_field :breed, placeholder: 'Breed'  %>
  <%= f.submit %>
<% end %>
