<h1> New Dogs on the Horizon </h1>

<%= form_with model: @dog do |f| %>
<%= f.text_field :name, placeholder: "NAME" %>
<%= f.text_field :breed, placeholder: "BREED" %>
<%= f.text_field :age, placeholder: "AGE" %>
<%= f.submit %>
<% end %>