<%= link_to 'All Dogs', '/dogs' %> <br>
<%= link_to 'All Employees', '../employees' %> <br>
<%= link_to "Create an Employee", "../employees/new" %><br>

<h2>

Hi, my name is <%= @dog.name %>. <br>

I am a <%= @dog.age %> <%= @dog.breed %>.<br><br>

My employees include: <br>

<ul>
    <% @dog.employees.each do |emp| %>
         <li> <%= link_to emp.full_name, emp %> </li>
    <% end %>
</ul>

</h2>